* { margin: 0; padding: 0; }


/* Estilos generales */

section { padding: 10vh; }

p { color: #471829; font-family: 'Montserrat', sans-serif; padding-bottom: 4vh;}

a { text-decoration: none !important; }

ul { list-style: none; }

.enlaces {
    color: #987782;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.enlaces:hover { font-weight: bolder; }

.btn_customized {
    background-color: #471829;
    color: #ead0e1;
    border-radius: 5vh;
    padding: 1vh 2.5vh;
    text-decoration: none;
}

.btn_customized:hover {
    animation: modify-btn 3s infinite;
    color: #ead0e1;
}

@keyframes modify-btn {
    0% { border: 1px solid #471829; }
    50% { border-radius: 0%; }
    90% { color: #471829; background-color: #f5ecef; }
}


.btn_customized_basic {
    background-color: #471829;
    color: #ead0e1;
    border-radius: 5vh;
    padding: 1vh 2.5vh;
    text-decoration: none;
}

.btn_customized_basic:hover {
    background-color: #ead0e1;
    color: #471829;
}

.bg_primary { background-color: #ead0e1; }

.bg_secondary { background-color: #f5ecef; }

.card { margin: 4vh; }

.content_center {
    align-content: center; 
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    color: #471829;
    font-family: 'Tiro Telugu', serif;
    font-size: 5vh;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.subtitle {
    color: #471829;
    font-family: 'Tiro Telugu', serif;
    font-size: 3vh;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.small_text { font-size: 1.5vh; }

/* Estilos para header */

nav { box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10); }

.header_list {
    align-items: center;
    align-content: center;
    display: flex;
    font-size: 2vh;
    flex-direction: row;
    flex-wrap: wrap;
    height: 8vh;
    justify-content: space-around;
    margin: auto;
    width: 90%;
}

.header_logo {
    height: 2rem;
    margin: 1%;
}

/* Estilos para la primera sección */

.section_img {
    animation: move-img 3s infinite;
    width: 70vh;
}

@keyframes move-img {
    50% { transform: scale(1.2); }
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_bottom { border-bottom: 2px #cacaca solid; }

/* Estilos para sección: Historia */

.history_icons {
    height: 13vh;
    margin: 2vh 0;
}

.history_img { height: 90vh; }

/* Estilos para sección: Productos */

.content_products {
    padding-top: 5vh;
}


.price {
    color: #471829;
    font-family: 'Tiro Telugu', serif;
    font-size: 6vh;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.price_small-text { font-size: 2vh; }


/* Estilos para sección: Contactanos */


/* Estilos para el footer */

.footer_logo {
    height: 2rem;
    margin: 2vh;
}

.footer_rrss {
    height: 4vh;
    margin: 2vh;
}

.footer_rrss:hover {
    transform: scale(2);
}

/* Media queries */

@media screen and (max-width: 800px) {
    .history_img { height: 50vh; }
    .section_img { width: 50vh; }
    .content_products { padding: auto; }
}
